.LoginBg {
  height: 100vh;
}

.body2 {
  min-height: 100vh;
  background-image: url('../../assets/EG-en-20241104-TRIFECTA-perspective_b7527dbe-9e92-4885-8bc4-2cdb3e7b2ee0_small.jpg');
}

#Signup {
  color: rgb(42, 85, 85);
  font-size: larger;
}
